<% if @name %>
  <%= @name.transliterations.first.kanji %>
<% else %>
  <p>Sorry, we don't have a translation for "<%= @entered_name %>" yet.</p>
  <p>Enter your email here and we'll let you know as soon as we do.</p>
  <%= form_for NameInterest.new(entered_name: @entered_name) do |f| %>
    <%= f.text_field :email_address %>
    <%= f.hidden_field :entered_name %>
    <%= f.submit 'Let me know!' %>
  <% end %>
<% end %>
