<%= render 'shared/lookup_form' %>

<% content_for :title do %>
  YourKanjiName: <%= @transliteration.kanji %>
<% end %>

<% content_for :open_graph do %>
  <meta property="og:url"           content="<%= request.original_url %>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="YourKanjiName: <%= @transliteration.kanji %>" />
  <meta property="og:description"   content="My name in Japanese is '<%= @transliteration.romaji %>', see what yours is!" />
  <meta property="og:image"         content="<%= image_url('sensu.png') %>" />
<% end %>

<div class="text-center" id="main-transliteration">
    <h4>Hi <%= @entered_name.capitalize %>, your name in Japanese kanji is:</h4>

    <h2><%= @transliteration.kanji %></h2>
</div>

<div class="row">
  <div class="col-md-6">
      <p>In Katakana: <%= @transliteration.katakana %></p>

      <p>Pronounced: <%= @transliteration.romaji %></p>

      <% unless @alternate_transliterations.empty? %>
        <p id="alternate-transliterations">
            Other options:
            <ul>
                <% @alternate_transliterations.each do |transliteration| %>
                  <li>
                      <%= link_to transliteration.kanji, [@name, transliteration] %> (<%= transliteration.explanation %>)
                  </li>
                <% end %>
            </ul>
        </p>
      <% end %>
  </div>

    <div class="col-md-6">
        <p><strong>Meaning:</strong></p>
        <p><%= @transliteration.explanation %></p>
    </div>
</div>

<div class="text-center sharing">
    <p>
        <em>Cool Kanji? Share it on facebook!</em> <span class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button_count"></span>
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="sensu">
            <span><%= @transliteration.kanji %></span>
            <%= image_tag 'sensu.png' %>
        </div>
    </div>

    <div class="col-md-6">
        <div class="tshirt">
            <span><%= @transliteration.kanji %></span>
            <%= image_tag 'tshirt.png' %>
        </div>
    </div>

</div>

<div class="text-center">
    <%= link_to 'Want to buy something with your Kanji?', 'https://jp.surveymonkey.com/r/SD5T3TH', class: 'btn btn-primary' %>
</div>

