<%= render 'shared/lookup_form' %>

<div class="text-center">
    <h4>Hi <%= @entered_name.capitalize %>, your name in Japanese kanji is:</h4>

    <h2><%= @name.transliterations.first.kanji %></h2>

    <div class="sensu">
        <span><%= @name.transliterations.first.kanji %></span>
        <%= image_tag 'sensu.png' %>
    </div>
</div>
