<%= render 'shared/lookup_form' %>

<% transliteration = @name.transliterations.first %>

<% content_for :open_graph do %>
  <meta property="og:url"           content="<%= request.original_url %>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="YourKanjiName: <%= transliteration.kanji %>" />
  <meta property="og:description"   content="My name in Japanese is '<%= transliteration.romaji %>', see what yours is!" />
  <meta property="og:image"         content="<%= image_path('sensu.png') %>" />
<% end %>

<div class="text-center">
    <h4>Hi <%= @entered_name.capitalize %>, your name in Japanese kanji is:</h4>

    <h2><%= transliteration.kanji %></h2>
</div>

<div class="row">
  <div class="col-md-6">
      <p>In Katakana: <%= transliteration.katakana %></p>

      <p>Pronounced: <%= transliteration.romaji %></p>
  </div>

    <div class="col-md-6">
        <p><strong>Meaning:</strong></p>
        <p><%= transliteration.explanation %></p>
    </div>
</div>

<div class="text-center">
    <div class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button_count"></div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="sensu">
            <span><%= @name.transliterations.first.kanji %></span>
            <%= image_tag 'sensu.png' %>
        </div>
    </div>

    <div class="col-md-6">
        <div class="tshirt">
            <span><%= @name.transliterations.first.kanji %></span>
            <%= image_tag 'tshirt.png' %>
        </div>
    </div>

</div>

<div class="text-center">
    <%= link_to 'Buy a product', 'http://bit.ly/kanjisurvey', class: 'btn btn-primary' %>
</div>

