<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "YourKanjiName" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Yourkanjiname" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield :open_graph %>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=481419038704150";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<main role="main">
    <%= render 'layouts/messages' %>
    <%= yield %>
</main>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Questions? <%= mail_to 'mat+yourkanjiname@schaffer.me', 'Email us', subject: 'YourKanjiName question' %>.</p>
    </div>
</footer>

</body>
</html>
